body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
h1{
    text-align: center;
}
.liste{
    background-color: transparent;
    width: 80%;
    margin-left: 10%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.client{
    background-color: #1315b9;
    color: #fff;
    width: 100%;
    height: 40px;
    display: flex;flex-direction: row;
    justify-content: space-around;
    margin-bottom: 1px;
    margin-bottom: 10px;
}
.client-2, .client-3{
    background-color: transparent;
    width: 100%;
    height: 40px;
    display: flex;flex-direction: row;
    justify-content: space-around;
    margin-top: 3px;
}
.client-3{
    margin-top: 30px;
}
.content-numero{
    background-color: transparent;
    width: 3.5%;
    height: 100%;
    padding-left: 4px;
}
.content-numero-2, .content-numero-3{
    background-color: #d4d4d4;
    width: 3.5%;
    height: 100%;
    padding-left: 4px;
}
.content-numero-3{
    background-color: transparent;
}
.content{
    background-color: transparent;
    width: 20.375%;
    height: 100%;
    padding-left: 4px;
    display: flex;
    flex-direction: row;
}
.content-2, .content-3, .content-3-1{
    background-color: #d4d4d4;
    width: 20%;
    height: 100%;
    padding-left: 4px;
    display: flex;
    flex-direction: row;
    overflow: inherit;
}
.content-3{
    background-color: transparent;
}
.content-3-1{
    background-color: #d4d4d4;
    display: flex;
    align-items: center;
    justify-content: center;
}
.p-content-1{
    font-size: 19px;
    margin-top: 7px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
a{
    text-decoration: none;
    color: #000;
}
.p-content-2{
    font-size: 16px;
    margin-top: 12px;
    font-family: 'Courier New', Courier, monospace;
}
.content-parte{
    background-color: transparent;
    width: 7.5%;
    height: 100%;
    padding-left: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.content-parte-2{
    background-color: #d4d4d4;
    width: 7.5%;
    height: 100%;
    padding-left: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
}